<form>
    <div class="fieldset">
      <div class="fieldset__infos">
        <div class="info">
          <label for="title">Title</label>
          <input
            type="text"
            placeholder="Task title"
            id="title"
            name="title"
            required
            minlength="3"
          />
          <!-- <div class="alert" [hidden]="title.valid || title.pristine">
            Title is required and must be at least 3 characters long
          </div> -->
        </div>
        <div class="info">
          <label for="description">Description</label>
          <textarea
     
            type="text"
            placeholder="Task description"
            id="description"
            name="description"
            rows="4"
            minlength="3"
            maxlength="300"
            required
          ></textarea>
          <!-- <div class="alert" [hidden]="description.valid || description.pristine">
            Description is required and must be no longer than 300 characters
          </div> -->
        </div>
  
        <div class="form-message">
          <span class="alert"
            ><i class="alert fas fa-exclamation-triangle fa-sm"></i>required fields</span
          >
        </div>
      </div>
      <div class="fieldset__tasks">
        <div class="info">
          <label for="date">Task deadline</label>
          <input

            type="date"
            placeholder="Task deadline"
            id="date"
            name="date"
            required
          />
          <!-- <div class="alert" [hidden]="date.valid || date.pristine">
            Task deadline is mandatory
          </div> -->
        </div>
        <div class="select__status">
          Status
          <select name="status" id="status" >
            <option value="" disabled>Task statue</option>
            <option >
             todo
            </option>
            <option >
                done
               </option>
          </select>
          <span><i class="fas fa-chevron-down"></i></span>
        </div>
      </div>
      <div class="fieldset__btns">
        <div class="form-btn">
          <button class="btn-cancel" >Cancel</button>
          <button
            class="btn-submit"
            type="submit"
          >
            ajouter
          </button>
        </div>
      </div>
    </div>
  </form>
